
name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Link Checker
        uses: lychee-action@v1.9.0
        with:
          args: --verbose --no-progress './**/*.md' './**/*.mdx'
          
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18'
      - run: npm install
      - run: npm run build
